# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
kubescale_f/node_modules/
Kubescale-Backend/node_modules/

# Build output
dist/
dist-ssr/
kubescale_f/dist/
Kubescale-Backend/dist/
build/

# Environment files
.env
.env.local
.env.*.local

# Editor directories and system files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional
coverage/
tmp/
